/* 초기화 */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* 폰트 */

body, input, textarea, select, button a {
    font-family: 'Noto Sans KR', sans-serif;
}

/* 레이아웃 초기환 */

#wrap {width: 100%;}
#header{width: 100%; height: 250px;}
#content{width: 100%; height: 1500px;}
#footer{width: 100%; height: 300px; margin-top: 200px; background-color: #222;}

.inner {margin: 0 50px 0 50px; height: inherit;}

/* 헤더 */

.header {width: 100%; height: inherit; display: flex; flex-direction: column; }
.header .header-top {width: 100%; background-color: #222; display: flex; height: 50px; }
.header .header-top .user-info {display: flex; margin-left: auto;}
.header .header-top .user-info ul {display: flex;}
.header .header-top .user-info ul li {margin: 10px 20px 0px 0px;}
.header .header-top .user-info ul li a {color: #fff; text-decoration: none; font-size: 14px; font-weight: 500; overflow: hidden; white-space: nowrap;}
.header .header-top .user-info ul li a:hover {color: #999;}
.header .header-mid {display: flex; height: 150px; margin: 0 50px 0 50px; border-bottom: 1px solid #222;}
.header .header-mid .mid-f {flex: 1;}
.header .header-mid .mid-m {flex: 1; margin: auto;}
.header .header-mid .mid-m h1 {margin: auto; text-align: center;}
.header .header-mid .mid-m h1 a img {width: 300px; height: 75px;}
.header .header-mid .mid-b {flex: 1; display: flex; justify-content: flex-end;}
.header .header-mid .mid-b .uldiv {margin: auto 0 auto 0;}
.header .header-mid .mid-b ul {display: flex; margin-right: auto;}
.header .header-mid .mid-b ul li {margin-right: 20px; }
.header .header-mid .mid-b ul li:last-child {margin-right: 60px; }
.header .header-mid .mid-b ul li a img {width: 35px; height: 35px; overflow: hidden; white-space: nowrap;}
.header .header-bottom {height: 50px; margin: 0 50px 0 50px; }
.header .header-bottom .category {width: 100%; height: inherit; display: flex;}
.header .header-bottom .category ul {display: flex; margin: auto;}
.header .header-bottom .category ul li {padding: 10px 20px 10px 20px;}
.header .header-bottom .category ul li:hover {border-bottom: 2px solid #999;}
.header .header-bottom .category ul li a {text-decoration: none; color: #222; font-size: 18px; font-weight: 500; overflow: hidden; white-space: nowrap;}


/* 배너 */




/* 콘텐츠 */




/* 푸터 */

.footer {width: 100%; height: inherit; display: flex; flex-direction: column;}
.footer .footer_info {width: 100%; height: 70px;}
.footer .footer_info ul {display: flex; margin-top: 20px;}
.footer .footer_info ul li {padding:0 20px; border-right: 1px solid #959595;}
.footer .footer_info ul li:last-child {border-right: none;}
.footer .footer_info ul li a {color: #fff; text-decoration: none; font-size: 14px; font-weight: 400; overflow: hidden; white-space: nowrap;}
.footer .footer_content {display: flex; flex-direction: column; width: 100%; height: 230px;}
.footer .footer_content .mediabox {display: flex; margin-left: auto;}
.footer .footer_content .mediabox .socialmedia {margin-right: 20px;}
.footer .footer_content .mediabox .socialmedia a img {width: 45px; height: 45px; overflow: hidden; white-space: nowrap;}
.footer .footer_content .footer_txt {display: flex; flex-direction: column;}
.footer .footer_content .footer_txt span {color: #fff; font-size: 14px; font-weight: 400; padding: 1px 0; overflow: hidden; white-space: nowrap;}
.footer .footer_content .footer_txt .f_textbox {display: flex;}
.footer .footer_content .footer_txt .f_textbox .span_index {margin-left: auto;}

