@media only screen and (max-width: 1700px) {
    #header {width: 1700px;}
    #banner {width: 1700px;}
    #content {width: 1700px;}
    #footer {width: 1700px;}
    .header .nav_bar {width: 1700px;}
}
/* 초기화 */
* {
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}
#container {
    position: relative;
    padding-top: 95px;
}
#content.login {
    padding-top: 120px;
}
#content > .inner {
    margin: 0 auto;
}
#content.login h2 {
    text-align: left;
    margin-bottom: 27px;
    position: relative;
    line-height: 1;
}
#content h2 {
    font-size: 70px;
    color: #000;
    font-family: 'Noto Sans KR';
    font-weight: 500;
}
#content.login .logo {
    position: absolute;
    top:131px;
    right: 1px;
}

#content.login .loginList {
    font-size: 18px;
    margin-bottom: 30px;
}
#content.login .loginList li input {
    background: none;
    height: auto;
    line-height: 1;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 18px;
    color: #222;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    padding-top: 28px;
    padding-bottom: 23px;
    padding-left: 38px;
}
input[type="text"] {
    display: inline-block;
    width: 100%;
}
#content.login .loginList li {
    position: relative;
}
input[type="password"] {
    display: inline-block;
    width: 100%;
}
#content.login .loginList li:before{
    display: block;
    content: '';  
    background: url(../img/human.png) no-repeat 0 0;
    position: absolute;
    top: 33px;
    width: 33px;
    height: 30px;
    left: 0;
}
#content.login .loginList li + li:before {
    display: block;
    content: '';
    width: 33px;
    height: 30px;
    background: url(../img/secret.png) no-repeat 0 0;
    position: absolute;
    top: 32px;
    left: 0;
}

.skip{display:none;}

h1{text-align: center; margin: -140px auto 10px;}


main{width:658px; margin : -190px auto;}


main #loginFrm fieldset ul li.error{
    color:#e7723d; padding:0px; display:none;
}


main #loginFrm fieldset ul li .id_bg{
    border-right: 1px solid #ccc;
    padding:30px; width:50px;
    background-color:#f5f5f5;  
    position:relative;
}
#content.login .loginList li:before {
    display: block;
    content: '';
    width: 18px;
    height: 19px;
    background: url(../img/human.png) no-repeat 0 0;
    position: absolute;
    top: 33px;
    left: 0;
}
#content.login .idpwSearch a:first-child:after {
    display: block;
    content: '';
    width: 1px;
    height: 15px;
    background: #ddd;
    position: absolute;
    top: 1px;
    right: -15px;
}
#content.login .idpwSearch a {
    font-size: 20px;
    line-height: 1;
    display: inline-block;
    position: relative;
}
#content.login .loginTip {
    border: 1px solid #ddd;
    background: #f4f4f4;
    padding: 40px 29px 35px 28px;
    position: relative;
    margin-bottom: 20px;
}
#content.login .loginTip dt {
    font-size: 18px;
    color: #222;
    line-height: 1;
    margin-bottom: 15px;
}
#content.login .loginTip dd {
    padding-top:12px;
    font-size: 18px;
    line-height: 26px;
    color:#666;
}
#content.login .loginTip dl {
    font-weight:bold;
    font-size: 20px;
    line-height: 26px;
}
#content.login .loginTip .btnType01 {
    position: absolute;
    top: 75px;
    right: 30px;
}
.btnBlue {
    background: rgba(255, 0, 0, 0.587);
}
.btnType01 {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
}
.btn {
    display: inline-block;
    padding: 0 30px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}
a {
    color: #666;   
    word-break: break-all;
    /* outline: 0; */
}
#content.login .idpwSearch {
    margin: 40px 0 45px;
    text-align: center;
}
#content.login .idpwSearch a:first-child {
    margin-right: 29px;
}
main #loginFrm fieldset ul li .pw_bg{ border-right: 1px solid #ccc;
    padding:30px; width:50px;
    background-color:#f5f5f5;  
    position:relative;}
    
    main #loginFrm fieldset ul li span input{width:595px; height:60px; border:0; padding-left: 10px;font-size:20px;}
    main #loginFrm fieldset ul li span input::placeholder{font-size:0.95rem; color:#aaa;}


main #loginFrm fieldset ul li .pw_show_hide{background:yellow; width:10px; height:10px;
    background-image: url(../img/icon.svg); background-position:-105px 0; width:21px; height:21px; position:absolute; right:11px; top:8px;}

main #loginFrm fieldset .btm{display:flex;  flex-flow:row nowrap; padding:15px 0; justify-content: space-between;}

main #loginFrm fieldset .btm p label input[name=login_y]{appearance:none;}
main #loginFrm fieldset .btm p label input[name=login_y] + span::before {background:#fff; border:1px solid #ccc; content:''; display:inline-block; width:17px; height:17px; background-image:url(../img/icon.svg); background-position:-65px -22px; margin-right:5px;}

main #loginFrm fieldset .btm p label input[name=login_y]:checked + span::before{background-position:-84px -21px;}

main #loginFrm fieldset .btm .idpw_search{color:#00478f;}
main #loginFrm fieldset .btm .idpw_search::after{
    content:''; display:inline-block;
    background-image:url("../img/icon.svg");
    width: 8px; height:15px;
    background-position: -101px -21px;
}

main #loginFrm fieldset #login_btn{
    background:rgba(255, 0, 0, 0.587);
    width:100%; color:#fff; padding:5px 0; line-height: 66px;
    font-size: 25px; font-weight:medium;
    min-width: 120px;
    border:rgba(255, 0, 0, 0.587);
}


main .join_link{border:1px solid #aaa; color:#0074e9; display:block; text-align:center; background:#fff; padding: 20px 0; width:100%; box-shadow:0 2px 0 #eee;}
footer{color:#333; text-align:center; font-size:0.85rem;margin-top:20px;}