
#content{width: 100%;height: auto;}

.inner {margin: 0 400px 0 400px; height: inherit;}
.inner hr{margin-top: 120px;}
.teacher_info{
    background-color: #CBCACA;
    border-radius: 10%;
}
.class_util{
    margin-top: 20px;
    text-align: right;
}
.class_status{
    width: 100%;height: 50px;
}
.class_status li:first-child{
    float: left;
    background-color: orange;
    margin-left: 20px;
    padding: 5px;
    color: white;
}
.class_status li:nth-child(2){
    float: left;
    background-color: red;
    margin: 0;
    padding: 5px;
    color: white;
}
.class_status li:last-child{
    float: left;
    border: 1px solid black;
    margin-left: 4px;
    padding: 4px;
}
.class_name table{
    width: 100%;
}
.class_name tr td:nth-child(2){
    background-color: black;
    text-align:center;
}
.class_name tr td:nth-child(2) a{
    color: white;
}
.class_name tr td:nth-child(3){
    text-align:center;
    background-color:red;
}
.class_name tr td:nth-child(3) a{
    color: white;
}
.class_name tr td:first-child{
    width: 60%;
}
.class_name tr:last-child td{
    padding-top: 10px;
    border-bottom: 2px solid black;
}
.class_info table{
    width: 100%;
    margin-top: 50px;
}
.class_info table tr td:first-child{
    padding: 20px;
    text-align: center;
}
.class_info table tr td:first-child{
    width: 60%;
}
.class_info table tr td:nth-child(2){
    width: 40%;
    text-align: center;
}
.class_info table tr td:nth-child(2) h2{
    margin-top: 10px;
}
.class_info table .class_info2{
    float: top;
    margin: 0 auto;
    width: 90%;
}
.class_info table .class_info2 tr td:first-child{
    width: 30%;
}
.class_info table .class_info2 tr td:nth-child(2){
    width: 70%;
}
.class_info table .class_info2 tr:first-child td{
    padding: 0;margin: 0;
}
.class_info table .class_info2 tr:nth-child(odd) td{
    padding: 0;margin: 0;
    border-bottom: 1px solid gray;
}
.teacher_info{
    padding: 3px;
    border: 1px solid gray;
    float: right;
    margin-right: 20px;
}

.class_regi{
    width: 100%;
    background-color: aqua;
.class_regi a{
    margin: 10px;
    padding: 10px;
    float: right;
    color: white;
}
.class_regi a:nth-child(3){
    background-color: red;
}
.class_regi a:nth-child(4){
    background-color: black;
    margin: 10px;
    padding: 10px;
    float: right;
}
.class_regi a:nth-child(2){
    border: 1px solid gray;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    color: black;
}
.class_review{
    width: 100%;
    float: left;
    margin-top: 30px;
}
.class_review h1{
    float: left;
}
.class_review a{
    float: right;
}