* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
#findIdpw{
  padding: 0 800px 60px;
}

.tab{
  display:flex;
}
.tab_con{
  margin-top:30px;
}
.tab li{
  width: 50%;
  line-height: 1;
}




.radio-wrap p{
  display:inline-block;
  margin-right: 20px;
  position:relative;
  line-height:18px;
}
.radio-wrap p label{
  font-size:14px;
  font-weight: 400;
  color : #2c2c2c;  
}
.tab li a{
    padding-bottom: 18px;
    display: block;
    width: 100%;
    height: auto;
    font-size: 14px;
    letter-spacing: -0.03em;
    line-height: 1;
    /* font-weight: 350; */
    /* color: #505050; */
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.tab li a.act{
    font-weight: 500;
    color: #2c2c2c;
    position: relative;
    text-decoration: none;
    font-size: 15px;
}

.tab li a.pct{
  font-weight: 500;
  color: #2c2c2c;
  position: relative;
  text-decoration: none;
  font-size: 15px;
}

.tab li a.act::before{
  content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #2c2c2c;
    position: absolute;
    bottom: 0;
    left: 0;
}



.loginMiddle{
  margin-top: 10px;
}
.loginMiddle a{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    text-align: Center;
    display: block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.03em;
    background: #fff;
    border: 1px solid #505050;
    line-height: 50px;    
}

.loginInput input{
    width: 100%;
    height: 50px;
    border-color: #e5e5e5;
    padding: 0 15px;
    text-indent: 0;
    margin-bottom: 5px;
}

input[type="text"], input[type="date"], input[type="tel"], input[type="number"], input[type="email"], input[type="password"], select {
    border: 1px solid #bbb;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 0;
}



.loginMiddle a:last-child {
  background: #505050;
  color: #fff;
  margin-top: 10px;
}

