.breadcrumb{
    position: absolute;
    top:20px;
    right:0;
    color:#666;
    margin-right: 110px;
    margin-top: -100px;
}
.breadcrumb ul{
    width:100%;
}
.breadcrumb ul li{
    position: relative;
    display: inline-block;
    padding-right:2px;
    vertical-align: middle;
    color : #666;
}

.breadcrumb ul li:first-child a{
    width:15px;
    height:13px;    
}

.inqury-wrap img{
    width:105%;
    padding-left:15px;
}

.inqury-link{
    width:100%;
}
.inqury-link ul{
    display:table;
    width:105%;
    padding-left:15px;
    margin-top:-5px;
}
.inqury-link ul li{
    display:table-cell;
    padding: 19px 0 16px 15px;
    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
    border-right: 1px solid #b9b9b9;
    box-sizing: border-box;
}
.inquiry-link ul li a{
    display:block;
    position:relative;
}
.inqury-link ul li:first-child{
    width:33.33%;
    border-left:1px solid #b9b9b9;
}
.inquiry-link ul li a .img-icon{
    display:inline-block;
    vertical-align:top;
}
.inquiry-link{
    display: inline-block;
    margin: 2px 0 0 12px;
    font-size: 20px;
    font-weight: 400;
    font-family: NotoSansM;
    letter-spacing: -.05em;
}

.mt30{
    margin-top:30px !important;
}
.tab-wrap{
    overflow:hidden;
    width:105%;
    padding-left:15px;
    padding-top:30px;
}

.tab_menu-area {
    position: relative;
    box-sizing: border-box;
}
.tab-menu2{
    border-bottom-width: 3px;    
    border-color: #266260 !important;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-slider .slick-track, .slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}
.tab_menu-area .tab-menu2 .item.active{
    position: relative;
    z-index: 1;
    background-color: #fff;
    border-bottom-color: #fff !important;
}

.tab_menu-area .tab-menu2 .item.active a{
    display: block;
    position: relative;
    z-index: 2;
    background-color: #fff;
    font-weight: 700;
    font-family: NotoSansM;
    outline: none;
    padding-bottom: 17px;
}
.tab-menu2 .item.active a{
    color:#266260 !important;
}
.slick-initialized .slick-slide {
    display: block;
}
.tab_menu-area .tab-menu2 .item{
    float: left;
    position: relative;
    margin: 0 0 0 65px;  
    text-align: center;
    box-sizing: border-box;
}
.tab_menu-area .tab-menu2 .item a{
    font-size:18px;
    box-sizing: border-box;
    display: block;
    color: #666;
}
.callcenter-tab .item a {
    padding: 15px 0 14px 0;
}
.callcenter-tab .item{
    width:170px;
}
.slick-track:before, .slick-track:after{
    display:table;
    content:'';
}
.slick-track:after{
    clear:both;
}


.search-panel > ul > li {
    display:inline-block;
    vertical-align:middle;
}
.search-panel >ul{
    text-align:right;
    margin-top:30px;
    padding-right:100px;
}
.search-bd-bottom{
   
    padding-bottom: 30px;
    margin-top:50px;
    width:1597px;
}
.bg-c{
    background-color:#266260 !important;
}
.btn-srch{
    color:#fff;
    width:94px;
    padding:10px 0 11px;
}
.btn{
    display:inline-block;
    text-align: center;
    vertical-align:top;
    box-sizing:border-box;
}
input.default-input {
    width: 50%;
    margin-right : 106px;
}

input[type="text"], input[type="password"]{
    appearance: none;
    padding: 12px 86px;
    line-height: 1.4em;
    background-color: #fff;
    border: 1px solid #b9b9b9;
    letter-spacing: -.025em;
    vertical-align: middle;
    box-sizing: border-box;
    outline: none;
}
.search-panel{
    position:relative;
}
.search-panel > ul > li.last{
    position:absolute;
    top: 0;
    right: 0;
    padding-right:5px;
}
.qna-wrap{
    width:106%;
}
.que:first-child{
    border-top: 1px solid rgb(221, 221, 221);
    padding-left:30px;
    margin-left:16px;
    width:1550px;    
}
.que{
    position: relative;
    padding: 17px 0;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 1px solid #dddddd;    
}

.que::before{
    display: inline-block;
    content: 'Q';
    font-size: 14px;
    color: #006633;
    margin: 0 5px;
}
.que.on>span{
    font-weight: bold;
    color: #006633; 
}
.anw {
    display: none;
    overflow: hidden;
    font-size: 14px;
    background-color: #f4f4f2;
    padding: 39px 41px;
    margin-left:15px;
    margin-right:-93px;    
}
.anw::before {
    display: inline-block;
    content: 'A';
    font-size: 14px;
    font-weight: bold;
    color: rgb(156, 28, 28);
    margin: 0 10px;
}
.qna-notice .ico-notice{
    line-height: 21px;
    font-size: 18px;
    padding-left: 33px;
    background: url(../img/checkbox.png) no-repeat 0 0;
}
.bg-gray {
    background-color: #f5f5f5;
    width:1528px;
}
.qna-notice {
    padding: 27px;
    margin:15px;
    text-align: left;
    position: relative;
}
.qna-notice .ico-btn{
    position: absolute;
    top: 23px;
    right: 31px;
}

